#summary-section{
    padding: 80px 15px;
    
}


#summary-section .title{
    position: relative;
    width:200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#summary-section .title .circle{
    background : transparent;
    width : 150px;
    height : 150px;
    border-radius: 50%;
    top:23px;
    position: absolute;
    border: 5px solid white;
    box-shadow: 0 0 10px white, 
    0 0 20px white, 
    0 0 30px white,
    0 0 40px white, 
    0 0 50px #b56efc, 
    0 0 60px white, 
    0 0 70px white;
}

#summary-section .title h1{
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 700;
    color:#16171b;
    z-index: 1;
    letter-spacing: 4px;
    text-shadow: 0 0 5px green, 0 0 10px navy, 0 0 15px blue, 0 0 20px yellow, 0 0 25px gray, 0 0 30px navy, 0 0 35px #b56efc; 
}


#summary-section .summary-container{
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-gap:15px;
    padding : 100px 0;
}

#summary-section .summary-container .test-center{
    background: white;
    padding: 60px;
    -webkit-box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
    -moz-box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
    box-shadow: 10px 40px 74px 24px rgba(0,0,0,0.08);
}

#summary-section .summary-container .test-center .header{
    display: flex;
    padding-bottom: 50px;
}

#summary-section .summary-container .test-center .header .user-img{
    width: 150px;
    height: 150px;
    background-position: center center !important; 
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

#summary-section .summary-container .test-center .header .user-img img{
    width: 100%;
}

#summary-section .summary-container .test-center .header .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left : 40px;
}


#summary-section .summary-container .test-center .header .info h4{
    color: #13161d;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

#summary-section .summary-container .test-center .header .info span{
    color: #929294;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
}

#summary-section .summary-container .test-center p{
    color: #929294;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.7;
    font-size : 1.4rem;
}

#summary-section .summary-container .test-sides{
    display: flex;
    justify-content: center;
    align-items: center;
}

#summary-section .summary-container .test-sides .person-img
{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size : cover !important;
    background-color: #f2f3f5 !important;
    height : 80%;
    width : 100%
}

#summary-section .summary-container .test-sides .person-img .hover-bg
{
    background: rgba(255,53,53,0);
    height: 100%;
    width: 100%;
    transition : all .2s ease-in-out;
    cursor: pointer;
    
}

#summary-section .summary-container .test-sides:hover .person-img .hover-bg
{
    background: rgba(255,53,53,.8);
    height: 100%;
    width: 100%;
}

#summary-section .summary-container .test-sides .person-img .hover-bg .name
{
    color:white;
    font-weight: 700;
    font-size: 2rem;
    transition: all .2s ease-in-out .2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    width: 100%;
    transform: translate3d(0,200px,0);
    opacity:0;
}

#summary-section .summary-container .test-sides:hover .person-img .hover-bg .name
{
    color:white;
    font-weight: 700;
    font-size: 2rem;
    transition: all .2s ease-in-out .1s;
    display: flex;
    justify-content: center;
    align-items: center;
    height : 100%;
    width: 100%;
    transform: translate3d(0,0,0);
    opacity:1;
}

/*tablets*/
@media only screen and (max-width: 960px){
    #summary-section .summary-container {
        display: grid;
        grid-template-columns: 12% 76% 12%;
        grid-gap: 0;
        padding: 100px 0;
        
    }
}
/*phones*/
@media only screen and (max-width: 767px){
    #summary-section .summary-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100px 1fr;
        grid-gap: 0;
        padding: 100px 0;
    }

    #summary-section .summary-container .test-sides.test-left{
        grid-column: 1/2;
        grid-row:1/2;
    }

    #summary-section .summary-container .test-sides.test-right{
        grid-column: 2/3;
        grid-row:1/2;
    }

    #summary-section .summary-container .test-center{
        grid-column: 1/3;
        grid-row:2/3;
        padding : 20px;
    }

    #summary-section .summary-container .test-center p{
        font-size: 1rem;

    }
    
}
