<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="{{url_for('static', filename = 'main.css')}}" rel="stylesheet">
    <link rel="stylesheet" href="../static/main.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
  </head>  

  <body>
     <header>
      <nav>

        <div class="signature">
          <div class="logo">
            <a href="#" class="name"><span>Portfolio</span></a>
          </div>
        </div>

        <div class="navigation">
          <input type="checkbox" class="toggle-menu">
          <div class="hamburger"></div>
          <ul class="menu">
            <li><a href="#"><span>Home</span></a></li>
            <li><a href="#introduction-section"><span>Introduction</span></a></li>
            <li><a href="#project-section"><span>Project</span></a></li>
            <li><a href="#experience-section"><span>Experience</span></a></li>
            <li><a href="#summary-section"><spane>Summary</spane></a></li>
          </ul>
        </div>
      </nav>
    </header>


    <section id="top">
      <div class="container">
        <div class="info">
          <div class="square"></div>
          <h1 class="neonText">Eunbi Yoon</h1>
          <h2> Software Developer </h2>
          <h3>Latest Works V.8.14</h3>
        </div>
        <h4 class="neonIcon">
          <i class="fas fa-lightbulb"></i> 
        </h4>
        </div>
      </div>
    </section>

    <section id="introduction-section">
      <div class="container">
        <div class="introduction-container">

          <div class="title">
            <h1>Introduction</h1>
          </div>

          <div class="box yellow">
            <i class="fas fa-trophy"></i>
            <h5>Awards</h5>
            <p>•	1st Award Digital Transformation in LG Electronics, Mar 2022
              <br/>•	1st Award Artificial Intelligence Research Category in Korean Broadcast Media Engineering Association, Dec 2019
              <br/>•	3rd Award Artificial Intelligence Research Category in Practical Research Association, Dec 2019
              <br/>•	2nd Award Best Quality Improvement in LG Electronics, Dec 2021 
              <br/>•	Employee of the month in LG Electronics, Mar 2022 & Oct 2021
            </p>
          </div>
          <div class="box blue">
            <i class="fas fa-code"></i>
            <h5>Skill</h5>
            <p>• Python, C++ : 2+ years experience
              <br/>• C#, Html, CSS, Assembly Language : 1+ years experience
            </p>
          </div>
          <div class="box green">
            <i class="fas fa-database"></i>
            <h5>Data Base</h5>
            <p>• SQL/No SQL Data Base </p>
          </div>
          <div class="box red">
            <i class="fas fa-database"></i>
            <h5>Major Field</h5>
            <p>• Full Stack Web Application </p>
            <p>• Big Data Analysis  </p>
            <p>• AI Vision System</p>
            <p>• Quality Indicators </p>
          </div>
        
        </div>
      </div>
    </section>


    <section id="project-section">
      <div class="title">

        <h1>Project</h1>
      </div>
      <div class="container">
        <div class="file_shape1"></div>
        <div class="file_shape2"></div>
        <div class="name">
            <h2>Click The Image</h2>
        </div>
        <form action="" method="POST">
          <div class="project-container">
            <div class="box image1">
                <input type="submit" class="btn" name="action1" value="Big Data Analysis">
              </div>
            <div class="box image2">
              <input type="submit" class="btn" name="action2" value="Vision System">
            </div>
            <div class="box image3">
              <input type="submit" class="btn" name="action3" value="Quality Indicator">
            </div>
            <div class="box image4">
              <input type="submit" class="btn" name="action4" value="Web Application">
            </div>
            <div class="box image5"></div>
          </div>
        </form>
      </div>
    </div>
  </section>
  
    <section id="experience-section">
      <div class="blur"></div>
      <div class="container">
        <div class="large-title">
          Experience
        </div>
        <div class="experience-container">
          <div class="box text1">
            <h4>Electrical Engineering</h4>
            <span class="date">Mar 2016 - Feb 2020</span>
            <p>Kyunghee University</p>
          </div>
          <div class="content text1">
            <h5>this is</h5>
          </div>
          <div class="box text2">
            <h4>Unity Developer</h4>
            <span class="date">Jun 2018 - Dec 2019</span>
            <p>Game Researh Labratory</p>
          </div>
          <div class="content text2">
            <h5>this is</h5>
          </div>
          <div class="box text3">
            <h4>AI Staff Developer</h4>
            <span class="date">Jan 2019 - Dec 2019</span>
            <p>AI Brain Asia Branch </p>
          </div>
          <div class="content text3">
            <h5>this is</h5>
          </div>
          <div class="box text4">
            <h4>Research Engineer</h4>
            <span class="date">Jan 2020 - Present</span>
            <p>North Amercia LG Electronics</p>
          </div>
          <div class="content text4">
            <h5>this is</h5>
          </div>
        </div>
      </div>
    </section>

    <section id="summary-section">
      <div class="container">
        <div class="title">
          <div class="circle"></div>
          <div class="line"></div>
          <h1>Summary</h1>
        </div>
        <div class="summary-container">
          <div class="test-sides test-left">
            <div class="person-img" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9YGDLvP39LcOw9S4-lLtRgQDIZWtZmMhMGw&usqp=CAU');">
              <div class="hover-bg">
                <div class="name">Eunbi</div>
              </div>
            </div>
          </div>
          <div class="test-center">
            <div class="header">
              <div class="user-img" style="background: url(https://media-exp1.licdn.com/dms/image/C4E03AQFdyB1A7ceTww/profile-displayphoto-shrink_800_800/0/1603287662689?e=1663804800&v=beta&t=N4YFvqn911EGd3EmZ0Wrca4HJOSBnVtTXYcP2lYdPmg);">
               </div> 
                <div class="info">
                  <h4>Software Developer</h4>
                  <span>LG Electrionics North America<br/>Researh and Development Team
                  </span>
              </div>
            </div>   
            <p>I summarized the pages on the software development so far, and thank you for reading. If you have any question please contact me by email. yinyinbei0717@gmail.com  </p>       
          </div>

          <div class="test-sides test-right">
            <div class="person-img" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBc4tC4hO2nZ6JMXbfVajq4Ia6nLZDqahKpg&usqp=CAU');">
              <div class="hover-bg">
                <div class="name">Yoon</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="social-container">
        <a href="http://www.facebook.com/">
          <i class="fab fa-brands fa-facebook-square"></i>
        </a>
        <a href="http://www.dribble.com/">
          <i class="fab fa-brands fa-dribbble"></i>
        </a>
        <a href="http://www.twiter.com/">
          <i class="fab fa-brands fa-twitter"></i>
        </a>
        <a href="http://www.instagram.com/">
          <i class="fab fa-brands fa-instagram"></i>
        </a>

      </div>
      <h5>Eunbi Yoon</h5>
      <h6>Software Developer</h6>

    </footer>
  </body>
</html>
